build/
components/
managed_components/
logs/
main/credentials.h
dependencies.lock
ESP32_IntelliVerter_Washing_Machine.code-workspace
LCD*
log*
partitions.csv
debug.log
diagram.json
wokwi.toml
wokwigw.exe
